@import url('http://fonts.cdnfonts.com/css/renner');


/*
Style Guide for inputs:
    Input inner Text
        - font-size: 15px;
        - font-family: 'Renner*', sans-serif;
        - font-weight: 400;

    Input Border
        Default
        - border-color: #A3C586;
        - border-radius: 6px;
        Hover
        - border-color: green;
        - border-right-width: 1px !important;
        Focus
        - border-color: green;
        - border-right-width: 1px !important;
        - outline: 0;
        - box-shadow: 0 0 0 2px rgb(49 130 74 / 20%);

    Input Labels
        - font-size: 10px;
        - font-family: 'Renner*', sans-serif;
        - font-weight: 600;
        - color: #5E5E5E;

TODO: 
    - clean up css(remove unecessary properties)
    - set page specific styling classnames etc
*/

/* headers/tab labels/title */
#totalCard {
    width: 15vw;
    height: 50vh;
    padding: var(--card_standard_padding);
    background-color: var(--foreground_color);
    border: 1px solid var(--input_border_color);
}


.userInput {
    font-family: var(--general_font_family);
    font-size: var(--general_font_size);
    color: var(--general_text_color);
    font-weight: var(--general_text_font_weight);
    text-align: left;
    display: inline-block;
    border: 1px solid #A3C586;
    box-sizing: border-box;
    width: 300px;
    border-radius: 6px;
    padding: 5px 9px;
    margin: 1px;
    margin-bottom:20px;
}

.userInput:hover {
    border-color: var(--input_border_hover_color);
    border-width: 1px !important;

}

#centreContent {
    text-align: center;

}

/* Misc */
.site-card-border-less-wrapper {
    padding: 30px;
    background: #F0F2F5;
}

.ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap, .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-wrap {
    position: relative;
    display: inline-block;
    display: flex;
    flex: auto;
    justify-content: center;
    align-self: stretch;
    overflow: hidden;
    white-space: nowrap;
    color: rgb(118, 118, 118);
    background: rgb(230 230 231 / 60%);
}

.ant-tabs-tab {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 12px 0;
    font-size: 14px;
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

.ant-card-body {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    
}

#calculatorCard {
    width: 50vw !important;
}

.calculatorContent {
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: -webkit-flex; 
    display: flex;         
    justify-content: center;
    
}

.ant-btn-primary {
    color: #fff;
    background: #5B7444;
    border-color: #5B7444;
    border-radius: 6px;
    width: 150px;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
    
}

.formButton {
    color: #fff;
    background: #5B7444;
    border-color: #5B7444;
    border-radius: 6px;
    width: 150px;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
    display: block;
    margin: 0 auto;

}

.ant-tabs-tabpane {
    flex: none;
    width: 50%;
    
}

/* INPUT/SELECT CONTROL */

.calculatorInput:focus {
    border-color: green;
    border-right-width: 1px !important;
    outline: 0;
    box-shadow: 0 0 0 2px rgb(49 130 74 / 20%);
}


.calculatorDropdown:focus {
    border-color: green;
    border-right-width: 1px !important;
    outline: 0;
    box-shadow: 0 0 0 2px rgb(49 130 74 / 20%);
}

.calculatorDropdown:invalid{
    color: rgb(118, 118, 118);
}


/* LABEL CONTROL */
.addEmissionButton {
    
    width: 100px;
    border-radius: 6px;
    padding: 5px 9px;
    margin: 8px 0;
    background-color: #5B7444;
    border: none;
    display: block;
    box-sizing: border-box;
    color: #fff;
}

.basicForm {
    float: right;
    margin-left: 10vw;
    margin-right: 1vw;
    margin-top: 1vh;
    margin-bottom: 2vh;
}


.outputTags {
    padding-right: 6vw;
    padding-bottom: 5px;
}

.outputTotal {
    text-align: center;
    padding-right: 6vw;
    padding-bottom: 5px;
}


/* test */


.switch {
    display: inline-block;
    height: 24px;
    position: relative;
    width: 40px;
    vertical-align: middle;
  }
  
  .switch input {
    display:none;
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }

  
  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 16px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 16px;
  }
  
  input:checked + .slider {
    background-color: #5B7444;
  }
  
  input:checked + .slider:before {
    transform: translateX(16px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .switchContainer {
    padding-top: 2vh;
    padding-left: 1vw;
    
    display: flex; 
    align-items: center;   
  }

.switchLabel {
    padding-left: 1vw;
}
