#contactDetailsCard {
  padding: var(--card_standard_padding);
  background-color: var(--foreground_color);

}

#submitTicketCard {
  padding: var(--card_standard_padding);
  background-color: var(--foreground_color);
}

#SprayImage {

    padding-top: 45px;;
    width: 36.4vw;
    height: 50vh;
    /* box-shadow: 0 10px 10px 0 rgb(131, 131, 131), 0 8px 8px 0 rgba(0, 0, 0, 0.10); */
}


/*
#contactDetailsLeft {
  float: left;
  padding-left: 50px;
}

#contactDetailsRight {
  float: right;
  padding-right: 50px;
}
#submitSupportTicketLeft {
  float: left;
  padding-left: 50px;
  width: 16.7vw;
}
  

#submitSupportTicketRight {
  float: right;
  margin-left: 2vw;
  margin-right: 15vw;
  width: 16vw;
}

#submitSupportTicketSelectReason {
  padding-top: 100px;
  padding-left: 0px;
}
*/

#contactUsSubmitButton {
  padding-top: 25px;
  padding-left: 0px;
  margin-left: 40%;
  margin-left: 40%;
  width: 20%;
  


}

#submitButton {
  font-family: var(--general_font_family);
  font-size: var(--general_font_size);
  color: var(--general_text_color);
  font-weight: var(--general_text_font_weight);

  height: 4vh;
  border-radius: 8px;
  color: var(--color_white);
  background-color: var(--color_green);

}

/*
.contactDetails {
  width: 360px;
  height: 192px;
  border-radius: 0px;
  margin-right: 24px;
  box-shadow: 5px 8px 24px 5px rgba(208, 216, 243, 0.6);
}

*/
#contactUsTextArea {
  padding-top: 25px;
  padding-left: 0px;
  font-family: var(--general_font_family);
  font-size: var(--general_font_size);
  color: var(--general_text_color);
  font-weight: var(--general_text_font_weight);
  text-align: left;
}

#textEntryBody {
  width: 100%;

}

#reasonSelectBox {
  width: 100%;

}

#emailInputBox {
  font-family: var(--general_font_family);
  font-size: var(--general_font_size);
  color: var(--general_text_color);
  font-weight: var(--general_text_font_weight);
  text-align: left;

}

#nameInputBox {
  font-family: var(--general_font_family);
  font-size: var(--general_font_size);
  color: var(--general_text_color);
  font-weight: var(--general_text_font_weight);
  text-align: left;

}
