div.CardHeader {
    color: #A3C586;
    Font-Family: 'Poppins';
    Font-Weight: 'Bold';
    Font-Size: 34px;
    Line-Height: 51px;
    Text-Align: 'Center';
    Vertical-Align: Top;
}

img.CardImage {
    display: block;
    max-height: 100%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
