.homeImage1 {
    margin-left: 0.7vw;
    margin-bottom: 0.7vw;
    width: 20vw;
    height: 50vh;   
}

.homeImage2 {
    margin-left: 0.7vw;
    margin-bottom: 0.7vw;
    margin-top: 30vh;
    width: 19.2vw;
    height: 20vh;
}


.homeImage3 {
    width: 30vw;
    height: 30vh;
}

.homeOurTeamCard  {
    margin-bottom: 0.7vw;
    width: 40vw;
    height: 50vh;
    font-size: 0.75vw;
}

.homeOurTeamCard > title {
    font-size: 0.75vw;
}
.homeFAQCard {
    margin-left: 0.7vw;
    width: 50vw;
    height: 30vh;
    font-size: 0.75vw;
}

