.image1 {
    padding-left: 15px;
    padding-bottom: 15px;
    width: 377px;
    height: 421px;
    top: 73px;
    left: 674px;
    border-radius: 5px;
    
}

.image2 {
    width: 369px;
    height: 208px;
    top: 286px;
    left: 1060px;
    border-radius: 5px;
    margin-top: 200px; 
}


.image3 {
    padding-right: 15px;
    width: 435px;
    height: 268px;
    top: 286px;
    left: 1060px;
    border-radius: 5px;
    float: right;
}