.homeImage1 {
    margin-left: 0.7vw;
    margin-bottom: 0.7vw;
    width: 20vw;
    height: 50vh;   
}

.homeImage2 {
    margin-left: 0.7vw;
    margin-bottom: 0.7vw;
    margin-top: 35vh;
    width: 15vw;
    height: 15vh;
}


.homeImage3 {
    width: 30vw;
    height: 30vh;
}

.homeOurTeamCard {
    margin-bottom: 0.7vw;
    width: 50vw;
    height: 50vh;
    font-size: 0.75vw;
}

.homeFAQCard {
    margin-left: 0.7vw;
    width: 50vw;
    height: 30vh;
    font-size: 0.75vw;
}

