.logo {
    float: left;
    width: auto;
    height: 30px;
    margin: 16px 24px 16px 0;
    justify-content: center;
}
  
.loginButtonNav {
    width: 150px;
    height: 40px;
}

.leftStyle {
    height: 65px;
}

.rightStyle {
    position: absolute;
    top: 0;
    right: 0;
    height: 0; /* fix this - leaves a small clickable line above sign out button */
}

#navButton {
    width: 12vw;
    height: 4vh;
    border-radius: 8px;

    color: var(--color_green);

    font-family: var(--general_font_family);
    font-size: var(--general_font_size);
    font-weight: var(--heading_text_font_weight);
    color: var(--color_white);


}