.registerCard {
    width: 40vw !important;
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.registerField {
    margin-left: 4vw;
    width: 32vw;
    height: 4vh;
    border-radius: 8px;
    display: inline-block;
    border: 1px solid var(--color_green);
    box-sizing: border-box;
    
    font-family: var(--general_font_family);
    font-size: var(--general_font_size);
    color: var(--general_text_color);
    font-weight: var(--general_text_font_weight);
    text-align: left;
}

.registerField:hover {
    border-color: var(--color_forest_green);
    border-width: 1px !important;
}

.registerButton {
    margin-left: 14vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 12vw;
    height: 4vh;
    border-radius: 8px;

    color: var(--color_green);

    font-family: var(--general_font_family);
    font-size: var(--general_font_size);
    font-weight: var(--heading_text_font_weight);
    color: var(--color_white);
}

.registerLabels {
    margin-left: 4vw;
}

.errorLabel {
    margin-left: 4vw;
    color: red;
}