.registerCard {
    width: 20vw !important;
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.registerField {
    width: 12vw;
    height: 4vh;
    border-radius: 8px;
}

.registerButton {
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 12vw;
    height: 4vh;
    border-radius: 8px;
}
