#map {
    height:700px;
    width:1250px;
    background-color: var(--background_color);
    align-items: left;
    margin-bottom:25px;
    
}

#solutionList {
    background-color: var(--foreground_color);
    width:max(750px, 100vw - 1300px);
    margin-right: 10px;
    padding:var(--card_standard_padding);
    
}

@media screen and (max-width: 2050px) {
    #solutionList {
        width:calc(100vw - 40px);
        margin-right: 100px;
    }
    #map {
        width:calc(100vw - 40px);
        padding-right:20px;
    }
}

.markerHeader {
    font-family: var(--general_font_family);
    font-size: var(--unit_title_font_size);
    font-weight: var(--unit_title_font_weight);
    color: var(--general_text_color);
    text-align: center;
    line-height: 0px;
    padding-bottom: 0px;

}

.markerDescription {
    padding-top: 0px;
    line-height: fit-content;
    font-family: var(--general_font_family);
    font-size: var(--general_font_size);
    color: var(--general_text_color);
    font-weight: var(--general_text_font_weight);
    text-align: left;

}