.logo {
    float: left;
    width: auto;
    height: 30px;
    margin: 16px 24px 16px 0;
    justify-content: center;
}
  
.loginButtonNav {
    width: 150px;
    height: 40px;
}

.leftStyle {
    height: 65px;
}

.rightStyle {
    position: absolute;
    top: 0;
    right: 0;
}
